* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

button {
  cursor: pointer;
  padding: 5px 20px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
